<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="." method="post">{% csrf_token %}
    {% if form.errors %}
        <p>에러발생. 입력정보 오류</p>
    {% endif %}

    <div>
        {{ form.username.label_tag }} {{ form.username }}
    </div>

    <div>
        {{ form.password1.label_tag }} {{ form.password1 }}
    </div>

    <div>
        {{ form.password2.label_tag }} {{ form.password2 }}
    </div>

    <button type="submit">Register</button>
</form>

</body>
</html>





